/* admin-panel.component.css */

.admin-panel-container {
  height: 100vh;
}

.sidenav-container {
  display: flex;
}

.sidenav {
  width: 300px;
  background-color: #333;
  color: white;
  height: 772px;
}

.sidenav-header {
  padding: 16px;
  font-size: 18px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  background-color: #555;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-header {
  padding: 16px;
  font-size: 24px;
  background-color: #007bff;
  color: white;
}


:host {
  display: flex;
  height: 100vh;
}
.dashboard-title {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bolder;
  margin-bottom: 20px;
}
.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-logo {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px; /* Adjust the margin as needed */
}


.dashboard-card {
  position: fixed;
  top: 0;
  left: 0;
  height: 120%;
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background: url('path/to/your/image.jpg') center/cover no-repeat; Add your image path */
  color: white;
  background-color: #1976D2; 
}

.dashboard-card h2 {
  color: white;
}


/* Add this to your component's CSS or to your global styles */
.dashboardInfo {
  background-color: #f0f0f0;
  padding: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 59px;
  width: 80%;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
}

.info-item {
  text-align: center;
  padding: 50px;
  margin-left:25px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

/* Style for mat-card components */
.mat-card {
  margin-top: 20px;
  max-width: 300px;
  margin-right: 20px;
}

.mat-card-title,
.mat-card-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.mat-card-subtitle {
  color: #555555;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

