/* login.component.css */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/billing360-high-resolution-logo-2.png") center; /* Replace with your image path */
  background-color: rgba(255, 255, 255, 0); /* 50% transparency white */
  padding-left: 1015px;
  position: relative;
  }
.logo-container {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    max-height: 1000px;
  }
  
  mat-card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(5px);
   background: rgba(255, 255, 255, 0.279);
   position: relative; 
   z-index: 1;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  mat-card-header {
    text-align: center;
  }
  
  mat-card-title {
    margin-left: 140px; /* Adjust the left margin as needed */
    display: inline-block; /* Ensures it's centered within the card header */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  button {
    align-self: flex-end;
    transition: traslateX(-5px);
  }
  .registration-option {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .registration-option span {
    margin-right: 8px;
  }
 
  /* Add this CSS code to your styles file */
.mat-error {
  color: red;
}
