<!-- admin-panel.component.html -->

<div class="admin-panel-container">
  <div class="sidenav-container">
    <!-- Side Navigation -->
    <div class="sidenav" style="position: fixed;">
      <div class="sidenav-header" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 30px;"><a href="/admin" style="color: white; text-decoration: none;">Billing360-Admin</a></div><br><br>
      <ul class="nav-list">
        <li><a mat-raised-button routerLink="/manageUsers" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Owners</a><br><br><br></li>
        <li><a mat-raised-button routerLink="/manageCompanies" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Company</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageCategories" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Categories</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageProducts" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Products</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageBills" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Bills</a><br><br><br></li>
        <!-- Add more navigation items as needed -->
      </ul>
    </div>

    <!-- Main Content -->
    <!-- <div class="content"> -->
      <mat-card class="formProduct">
        <mat-card-content>
          <p style="font-size: 50px; font-weight:500;">Manage Company</p>
          <form (submit)="addCompany()">
            <div class="form-group">
              <label>Company name</label>
              <input type="text" name="companyName" id="companyName" [(ngModel)]="companyName" [ngModelOptions]="{standalone: true}"><br><br>
             </div>
             <div class="form-group">
              <label>Company Admin</label>
              <input type="text" name="companyAdmin" id="companyAdmin" [(ngModel)]="companyAdmin" [ngModelOptions]="{standalone: true}"><br><br>
             </div>
             <div class="form-group">
              <label for="associationDropdown">Select Company Association:</label>
              <select id="associationDropdown" [(ngModel)]="companyAssociation" [ngModelOptions]="{standalone: true}">
                <option value="jointVentures">Joint Ventures</option>
                <option value="strategicAlliances">Strategic Alliances</option>
                <option value="partnerships">Partnerships</option>
                <option value="supplierClient">Supplier-Client Relationships</option>
                <option value="industryAssociations">Industry Associations</option>
                <option value="consortiums">Consortiums</option>
                <option value="franchising">Franchising</option>
                <option value="mergersAcquisitions">Mergers and Acquisitions</option>
              </select>
             </div>
             <div class="form-group">
              <label>Company Address</label>
              <input type="text" name="companyAddress" id="companyAddress" [(ngModel)]="companyAddress" [ngModelOptions]="{standalone: true}"><br><br>
             </div>
             <div class="form-group">
              <label>GST Number</label>
              <input type="text" name="gstNo" id="gstNo" [(ngModel)]="gstno" [ngModelOptions]="{standalone: true}"><br><br>
             </div>
             <button mat-raised-button color="primary" type="submit" style="background-color: black; color: white;">Submit</button><br><br>
          </form>
            <!-- <form (submit)="addCategories()">
              <div class="form-group">
               <label>Company name</label>
               <select [(ngModel)]="selectedCompany" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let comp of companies" [value]="comp.companyId">{{comp.companyName}}</option>
              </select><br><br>
              </div>
              <div class="form-group">
                <label>Category name</label>
                <input type="text" name="categoryName" id="categoryName" [(ngModel)]="categoryName" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
               <div class="form-group">
                <label>Common name</label>
                <input type="text" name="commonName" id="commonName" [(ngModel)]="commonName" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
               <div class="form-group">
                <label>State GST</label>
                <input type="text" name="sgst" id="sgst" [(ngModel)]="sgst" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
               <div class="form-group">
                <label>Central GST</label>
                <input type="text" name="cgst" id="cgst" [(ngModel)]="cgst" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
               <div class="form-group">
                <label>International GST</label>
                <input type="text" name="igst" id="igst" [(ngModel)]="igst" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
               <div class="form-group">
                <label>Union Territory GST</label>
                <input type="text" name="pgst" id="pgst" [(ngModel)]="pgst" [ngModelOptions]="{standalone: true}"><br><br>
               </div>
              <button mat-raised-button color="primary" type="submit" style="background-color: black; color: white;">Submit</button>
            </form> -->
          <table mat-table class="mat-elevation-z8" style="width: 120%;">
            <thead>
              <!-- Position Column -->
              <tr>
                <!-- Add more headers as needed -->
                <th> Company Id </th>
                <th> Company Name </th>
                <th> Company Admin </th>
                <th> Company Association </th>
                <th>  Company Address </th>
                <th> Gst Number </th>
                <th colspan="2"> Action </th>
                <!-- <th> Bill Date </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of companies">
               <td> {{c.companyId}} </td>
               <td> {{c.companyName}} </td>
               <td> {{c.companyAdmin}} </td>
               <td> {{c.companyAssociation}} </td>
               <td> {{c.companyAddress}} </td>
               <td> {{c.gstno}} </td>
               <td><button mat-raised-button color="accent" (click)="c.companyId && deleteCompany(c.companyId)" style="background-color: red; color: white; text-decoration: none;">Delete</button>
                <button mat-raised-button color="accent" style="background-color: green; color: white; text-decoration: none; margin-left: 10px;">Update</button>
              </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <!-- Your main content goes here -->
      <router-outlet></router-outlet>
  </div>
</div>
