<!-- dashboard.component.html -->
<mat-card class="dashboard-card">
  <a href="/dashboard" style="color: white; text-decoration: none;"><mat-card-header class="dashboard-header">
    <img src="../../assets/logo-no-background.png" alt= "Logo" class="dashboard-logo" />
    <!-- <mat-card-title class="dashboard-title">Dashboard</mat-card-title> -->
  </mat-card-header></a><br><br>
  <mat-card-content>
    <div>
      <!-- <button mat-raised-button color="primary" (click)="showNewOrderForm = true">New Order</button>
      <button mat-raised-button color="primary" (click)="showNewOrderForm = false">Previous Orders</button>
      <button mat-raised-button color="primary" (click)="navigateToProducts()">Products</button> -->
      <a mat-raised-button routerLink="/products" style="text-decoration: none; background-color: black; width: 200px;">Products</a><br><br><br>
      <a mat-raised-button color="accent" routerLink="/categories" style="text-decoration: none; background-color: black; width: 200px;">Categories</a><br><br><br>
      <a mat-raised-button color="accent" routerLink="/bill" style="text-decoration: none; background-color: black; width: 200px;">Generate Bill</a><br><br><br>
      <a mat-raised-button color="accent" routerLink="/contact" style="text-decoration: none; background-color: black; width: 200px;">Contact Us</a><br><br><br>
      <a mat-raised-button color="accent" (click)="logout()" style="text-decoration: none; background-color: black; width: 200px;">Logout</a><br><br><br>
    </div>

    
  </mat-card-content>
</mat-card>
<mat-card class="dashboardInfo">
  <mat-card-content>
    <h2 class="title">Generate New Bill</h2>
    <div class="info-section">
      <div class="info-item">
        <form (submit)="add()">
          <div class="form-group">
            <label for="productName">Select Product</label>
            <select name="selectedProduct" id="selectedProduct" [(ngModel)]="selectedProduct">
              <option value="none" selected disabled hidden>Please select a product</option>
              <option *ngFor="let p of products" value="{{p.productId}}">{{p.productName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="quantity">Enter The Quantity</label>
            <select name="quantity" id="quantity" [(ngModel)]="selectedQuantity" (ngModelChange)="updateTaxOptions()">
              <option value="none" selected disabled hidden>Please select a quantity</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>            
            
          </div>
          <div class="form-group">
            <label for="tax">GST on Selected Product</label>
            <input type="text" name="tax" id="tax" [(ngModel)]="selectedTax" readonly>
          </div>
          <!-- <div class="form-group">
            <label for="message">Your Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
          </div> -->
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
