<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- app.component.html -->
<router-outlet></router-outlet>
<!-- app.component.ts -->
<!-- app.component.html -->
<router-outlet></router-outlet>
<!-- app.component.html -->
<router-outlet></router-outlet>
<!-- app.component.html -->
<router-outlet></router-outlet>
<!-- app.component.html -->
<app-login></app-login>

<app-registration></app-registration>


