<!-- admin-panel.component.html -->

<div class="admin-panel-container">
  <div class="sidenav-container">
    <!-- Side Navigation -->
    <div class="sidenav" style="position: fixed;">
      <div class="sidenav-header" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 30px;"><a href="/admin" style="color: white; text-decoration: none;">Billing360-Admin</a></div><br><br>
      <ul class="nav-list">
        <li><a mat-raised-button routerLink="/manageUsers" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Owners</a><br><br><br></li>
        <li><a mat-raised-button routerLink="/manageCompanies" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Company</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageCategories" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Categories</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageProducts" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Products</a><br><br><br></li>
        <li><a mat-raised-button color="accent" routerLink="/manageBills" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Bills</a><br><br><br></li>
        <!-- <li><a mat-raised-button color="accent" (click)="logout()" style="text-decoration: none; background-color: black; width: 200px; height: 45px; text-align: center; margin-left: 15px;">Logout</a><br><br><br></li> -->
        <!-- Add more navigation items as needed -->
      </ul>
    </div>

    <!-- Main Content -->
    <!-- <div class="content"> -->
      <mat-card class="formProduct">
        <mat-card-content>
          <p style="font-size: 50px; font-weight:500;">Manage Owners</p>
            <form (ngSubmit)="addUser()">
              <div class="form-group">
               <label>Name</label>
               <input type="text" name="username" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
               </div>
               <div class="form-group">
                <label>Add Password</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
               </div>
               <div class="form-group">
                <label>Add Contact</label>
                <input type="text" name="contact" id="contact" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}">
               </div>
               <!-- <div class="form-group">
                <label>Add User Type</label>
                <input type="text" name="userType" id="userType" [(ngModel)]="userType" [ngModelOptions]="{standalone: true}">
               </div> -->
              <!-- <div class="form-group">
                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
              </div> -->
              <button mat-raised-button color="primary" type="submit" style="background-color: black; color: white;">Submit</button> <button mat-raised-button color="primary" type="submit" style="background-color: black; color: white; margin-left: 18px;">Update</button>
            </form>
          <table mat-table class="mat-elevation-z8" style="width: 120%;">
            <thead>
              <!-- Position Column -->
              <tr>
                <!-- Add more headers as needed -->
                <th> User Id </th>
                <th> Name </th>
                <th>  Username </th>
                <th> Password </th>
                <th> Contact </th>
                <th colspan="2"> Action </th>
                <!-- <th> Bill Date </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- Static Data -->
              <tr *ngFor="let u of users">
                <td> {{u.userId}} </td>
                <td> {{u.username}} </td>
                <td> {{u.email}} </td>
                <td> {{u.password}} </td>
                <td> {{u.contact}} </td>
                <td><button mat-raised-button color="accent" (click)="u.userId && deleteUser(u.userId)" style="background-color: red; color: white; text-decoration: none;">Delete</button>
                  <button mat-raised-button color="accent" (click)="populateUserForm(u)" style="background-color: green; color: white; text-decoration: none; margin-left: 15px;">Update</button>
                </td>

              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
      <!-- Your main content goes here -->
      <router-outlet></router-outlet>
  </div>
</div>
